{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":90,"scrollleft":0,"selection":{"start":{"row":5,"column":16},"end":{"row":5,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":4,"state":"start","mode":"ace/mode/text"}},"timestamp":1573220522764,"hash":"cc3ce2e369aa8fa8897b76ea4d3487b957d70a31"}